mixin inputbox()
  .inputbox&attributes(attributes)
    block

mixin input()
  input.input&attributes(attributes)

mixin input-number()
  .input-numberbox
    span.input-numberbox__button.js-numberbox-minus
    input.input.input-numberbox__input.js-numberbox-input&attributes(attributes)
    span.input-numberbox__button.js-numberbox-plus

mixin textarea()
  textarea.textarea&attributes(attributes)
    block

mixin select()
  select.select&attributes(attributes).js-select
    block

mixin checkbox(name, value, checked)
  +b.LABEL.checkradio&attributes(attributes)
    - var check = checked || '';
    +e.INPUT.input(name=name, value=value, check, type="checkbox")
    +e.SPAN.box
    +e.SPAN.content
      block
      
mixin radio(name, value, checked)
  +b.LABEL.checkradio&attributes(attributes)
    +e.INPUT.input(name=name, value=value, checked=checked, type="radio")
    +e.SPAN.box
    +e.SPAN.content
      block

mixin range()
  +b.range&attributes(attributes).js-range
    block
